
@{
    ViewBag.Title = "Inicio";
}
    <div @*style="background-image:url(/Content/images/Fondo_inicio.jpg);background-size:cover;z-index:-2"*@ style="left:100px">
        <img src="~/Content/images/Fondo_inicio.jpg" style="height:100%;width:100%; "/>
    </div>